html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
}

/* Section - Main */

.main {
    height: 100vh;
    width: 100%;
    background-image: url(pics/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}

/* Navigation */

nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80%;
}

.nav-links a {
    margin-left: 60px;
    text-decoration: none;
    color: orange;
    transition: 0.5s;
}

.nav-links p {
    margin-left: 60px;
    text-decoration: none;
    color: orange;
    transition: 0.5s;
    cursor: pointer;
}

.nav-links li {
    display: inline-block;
    list-style: none;
}

.nav-links a:hover {
    color: red;
}

.nav-links p:hover {
    color: red;
}

nav h1 a {
    font-size: 120%;
    color: red;
    text-decoration: none;
}

/* Navigation : End */

/* Sub Menus for Navigation */

.sub-menu ul li{
    display: none;
}

.sub-menu ul {
    position: absolute;
    right: 18px;
}

.nav-links ul li:hover .sub-menu ul li {
    display: block;
    text-align: center;
    padding-top: 30px;    
}

.nav-links ul li:hover .sub-menu ul li a {
    background-color: blue;
    padding: 10px;
}

/* Sub Menus for Navigation : End */

/* Main Text of Header */

.main-text {
    font-size: 130%;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.readmorebtn a {
    color: white;
    text-decoration: none;
    font-size: 90%;
}

.readmorebtn {
    display: inline-block;
    border: 1px solid;
    padding: 1% 5%;
    background-color: transparent;
    transition: 1s;
}

.readmorebtn:hover {
    background-color: red;
}

/* Main Text of Main Section : End */

/* Section - Main : End */

/* Section - WhyChess */

#whychess {
    height: 100vh;
    background-color: lightyellow;
}

/* Heading of WhyChess Section */

.heading {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 140%;
}

/* Heading of WhyChess Section : End */

/* Text Boxes */

.text-boxes {
    padding: 20px;
}

.row-1 {
    justify-content: space-between;
    align-content: center;
    display: flex;    
}

.row-2 {
    justify-content: space-between;
    align-content: center;
    display: flex;    
}

.text-box {
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 20px;
    background-color: #FFD580;
    text-align: center;
}

.text-box h1 {
    font-size: 82%;
}

.text-box p {
    font-size: 72%;
}

/* Text Boxes : End*/

/* Elements needed for smaller screens */

.closebtn {
    display: none;
}

.menubtn {
    display: none;
}

/* Elements needed for smaller screens : End*/

/* CSS properties for smaller screens */

@media(max-width:700px) {
    body {
        font-size: 120%;
    }
    
    /* Navigation */
    
    nav h1 {
        display: none;
    }
    
    .nav-links {
        position: absolute;
        left: -350px;
        top: 0px;
        font-size: 130%;
        z-index: 2;
        background-color: red;
        height: 100vh;
        transition: 1s;
    }
    
    .nav-links li {
        display: block;        
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 20px;
        text-align: left;
        font-size: 110%;
    }
    
    .closebtn {
        display: block;
    }
    
    .menubtn {
        display: block;
    }
    
    .closebtn img{
        display: block;
        width: 20px;
        height: auto;
        position: absolute;
        left: 110px;
        padding-top: 10px;
    }
    
    .menubtn img {
        display: block;
        width: 30px;
        height: auto;
        position: absolute;
        left: 10px;
    }
    
    /* Navigation : End*/
    
    /* WhyChess Text Boxes display */
    
    .row-1 {
        flex-direction: column;
        display: block;
    }
    
    .row-2 {
        flex-direction: column;
        display: block;
    }
    
    .text-box {
    width: 50vh;
    height: auto;
    background-color: #FFD580;
    text-align: center;
    }
    
    /* WhyChess Text Boxes display : End*/
}

/* CSS properties for smaller screens : End*/
