html, body {
margin: 5px;
border: 0px;
font-family: Poppins
}

body {
  background-image: url("pics/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-size: 150%;
}

a {
  color: green;
}

.hover-animation {
  display: inline-block;
  position: relative;
  margin: 50px;
}

.hover-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.hover-animation:hover:after {
  transform: scaleX(1);
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  position: absolute;
  width:200px;
  height:200px;
  left: 150px;
  top: 30px;
}

.header a {
  display: inline;
}

.header-text {
  position: relative;
  font-size: 120%;
}

.indexheading {
  position: relative;
  display: block;
}

.rulesheading {
  position: relative;
  display: block;
}

.rickroll {
  position: relative;
  left: 200px;
  top: 0px;
}
